nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    align-self: center;
    background-color: #fff;
    border-radius: 1rem;
    height: auto;
    font-size: 1.5rem;
    padding: 16px;
    width: 2.4%;
}
nav i{
    margin: 15px 0;
    cursor: pointer;
}
nav i:hover{
    color: rgb(100, 46, 180);
}